language: python
python:
  - "3.5"
install: "pip install -r requirements.txt"
script: python -m unittest
services:
  - postgresql
addons:
  postgresql: "9.4"
before_script:
  - psql -c 'create database test;' -U postgres